{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("pixelimage\\homeselectorimporter\\assetbundles\\indexcpsection\\IndexCpSectionAsset") %}

{% set title = 'HomeSelector Importer' %}

{% set tabs = {    
    settings: { label: "Settings"|t, url: url('home-selector-importer/settings') },    
    import: { label: "Import"|t, url: url('home-selector-importer') },
    verify: { label: "Verify"|t, url: url('home-selector-importer/verify') },
    result: { label: "Result"|t, url: url('home-selector-importer/result') },
    
} %}