{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("pixelimage\\homeselectorimporter\\assetbundles\\indexcpsection\\IndexCpSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "HomeSelector Importer" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('home-selector-importer') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@pixelimage/homeselectorimporter/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('home-selector-importer') }}</a>
    </div>
{% endset %}

{% set tabs = {    
    import: { label: "Import"|t, url: url('home-selector-importer') },
    verify: { label: "Verify"|t, url: url('home-selector-importer/verify') },
    result: { label: "Result"|t, url: url('home-selector-importer/result') }    
} %}