{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * HomeSelectorImporter plugin for Craft CMS 3.x
 *
 * HomeSelectorImporter Settings.twig
 *
 * @author    Andrew Wallace
 * @copyright Copyright (c) 2020 Andrew Wallace
 * @link      https://www.prettyabstract.co.uk/
 * @package   HomeSelectorImporter
 * @since     1.0.0
 */
#}
{% import "_includes/forms" as forms %}
{% set title = 'HomeSelector Importer' %}

{{ forms.lightswitchField({
        label: "Use auto-asset attachment",
        instructions: "Attempt to match and attach assets when a new HomeSelector entry is created.",
        name: 'useAutoAssets',
        id: 'useAutoAssets',
        on: settings.useAutoAssets,
        errors: settings.getErrors('useAutoAssets')}) 
}}

{{ forms.textAreaField({
    label: 'Auto asset fields',
    instructions: 'JSON config for auto-attaching assets.',
    id: 'autoAssetsConfig',
    name: 'autoAssetsConfig',
    errors: settings.getErrors('autoAssetsConfig'),
    value: settings.autoAssetsConfig})
}}
