{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set title = 'HomeSelector Importer' %}

{% set tabs = {    
    import: { label: "Import"|t, url: url('home-selector-importer') },
    verify: { label: "Verify"|t, url: url('home-selector-importer/verify') },
    result: { label: "Result"|t, url: url('home-selector-importer/result') }
} %}