{% extends "home-selector-importer/tabs/cp" %}
{% set settings = craft.app.getModule('home-selector-importer').getSettings() %}
{% set hsFlashMessages = craft.app.session.getFlash('homeselector') %}

{% set selectedTab = 'import' %}
{% set content %}
    {% if settings %}
        <h2>Import Plots</h2>

        {% if hsFlashMessages|length %}

            {% for hsFlash in hsFlashMessages %}
                <p>Message: {{ hsFlash.message}}</p>

                {% if hsFlash.errors|length %}
                <ul>
                    {% for error in hsFlash.errors %}
                        <li>{{ error }}</li>        
                    {% endfor %}
                </ul>
                {% endif %}
            {% endfor %}
        
        {% else %}
            <p>No data yet</p>    
        
        {% endif %}

        <hr>  
    	<form method="post" action="" accept-charset="UTF-8" enctype="multipart/form-data">
    		{{ csrfInput() }}
          	<input type="hidden" name="action" value="home-selector-importer/import/upload-plots" />
          	<input type="hidden" name="redirect" value="" />
                      
          	<h3>Please upload the data here. Your .xlsx document *must* be the official HomeSelector import spreadsheet.</h3>
            <p>Download a template spreadsheet</p>
          	<p><input type="file" name="file" multiple></p>      	
      		<input type="submit" class="btn submit" value="Upload File">  		
        </form>
    {% else %}
        <div class="error">
            <h3>Is the HomeSelector Importer configured?</h3>
        </div>
    {% endif %}
    
{% endset %}