{% extends "home-selector-importer/tabs/cp" %}
{% css %}
    .errors li {
        color: red;
    }
{% endcss %}

{% set settings = craft.app.getModule('home-selector-importer').getSettings() %}
{% set hsFlashMessages = craft.app.session.getFlash('homeselector') %}
{% set selectedTab = 'result' %}
{% set content %}
    {% if settings %}
        <h2>Result</h2>

        <hr>  
    	
        <p>This happened:</p>
{% if hsFlashMessages|length %}
    {% for hsFlash in hsFlashMessages %}
        <p>Message: {{ hsFlash.message}}</p>

        {% if hsFlash.errors|length %}
            {% if hsFlash.errors is iterable %}
        <ul class="errors">
            {% for errors in hsFlash.errors %}
                {% if errors is iterable %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% else %}
                    <li>{{ errors }}</li>
                {% endif %}
                        
            {% endfor %}
        </ul>
        {% else %}
            <p class="errors">Error: {{ hsFlash.errors }}</p>
        {% endif %}
        {% endif %}
    {% endfor %}

{% endif %}

    {% else %}
        <div class="error">
            <h3>Is the HomeSelector Importer configured?</h3>
        </div>
    {% endif %}
{% endset %}
