{% extends "home-selector-importer/tabs/cp" %}

{% set selectedTab = 'settings' %}
{% set settings = craft.app.getModule('home-selector-importer').getSettings() %}
{% set content %}
	<form method="post" action="" accept-charset="UTF-8" enctype="multipart/form-data">
		{{ csrfInput() }}
      	<input type="hidden" name="action" value="home-selector-importer/feed/addsection" />
      	<input type="hidden" name="redirect" value="" />
		<p>Not sure what settings, yet</p>
    	<input class="btn submit" type="submit" value="{{ 'Continue'|t }}">
    </form>
{% endset %}
