{% extends "home-selector-importer/tabs/cp" %}
{% set selectedTab = 'verify' %}
{% set content %}
    {% if preflightData is defined and preflightData|length %}
        <h2>Verify data</h2>

        <hr>  
    	
        <p>Review the data to be imported:</p>

        <p>Site name: {{ preflightData.site.name }}</p>

        <p>Plots section: {{ preflightData.plots.handle }}</p>

        <p>Data: </p>
        <div style="overflow-y:auto">
        <table>
            <thead>
                <tr>
        {% for handle in preflightData.header %}
                    <th>{{ handle }}</th>
        {% endfor %}
                </tr>
            </thead>
            <tbody>

            {% for row in preflightData.data %}
                <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
                </tr>
            {% endfor %}                
            </tbody>
        </table>
        </div>
        <form action="" method="post">
    		{{ csrfInput() }}
            {{ actionInput('home-selector-importer/import/import-plots') }}
            {{ redirectInput('home-selector-importer/result') }}
            <input type="submit" class="btn submit" value="Import!">
        </form>

    {% else %}
        <div class="error">
            <h3>Is the HomeSelector Importer configured?</h3>
        </div>
    {% endif %}
    
{% endset %}